body {
    background-color: #789E9E;
}

.screen {
    background-color: antiquewhite;
}

div#canvas > div {
    margin-top: 20px;
    margin-left: 20px;
    bottom: 20px;
}

div#canvas {
    border: 3px solid #789E9E;
    border-radius: 25px;
    width: 83%;
    background-color: antiquewhite;
    margin-left: 15%;
}

ul#files {
    max-width: 1400px;
    min-width: 1000px;
    list-style: none;
    padding-top: 10px;
}
ul#files li {
    display: inline-block;
    width: 93%;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    border-radius: 25px;
    box-sizing: border-box;
    border-style: solid;
    border-color: #789E9E;
    padding: 10px;
    margin-top: 10px;
}

ul#folders {
    max-width: 1400px;
    min-width: 1000px;
    list-style: none;
    padding-top: 15px;
    
}
ul#folders li {
    display: inline-block;
    width: 93%;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    border-radius: 25px;
    box-sizing: border-box;
    border-style: solid;
    border-color: #789E9E;
    padding: 10px;
    margin-top: 10px;
}

ul#folders li:hover{
    color: black;
    background-color: gray;
}

.fileimg img {
    width:25px;
    display: inline-block;
}
.fileimg img:hover {
    width:25px;
    display: inline-block;
}

h1{
    font-family: 'Product Sans';
    line-height: 50px;
    opacity: 1;
    position: relative;
    top: 10%;
    left: 3%;
    font-size: 60px;
    font-family: 'Barlow Condensed', sans-serif;}

h1  > a {
    text-decoration: none;
    color: antiquewhite;
}

.logout {
    align-items: center;
    background: antiquewhite;
    border: 0 solid antiquewhite;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0, 0, 0.06);
    box-sizing: border-box;
    color: #1A202C;
    display: inline-flex;
    font-family: Inter, sans-serif;
    font-size: 1rem;
    font-weight: 700;
    height: 56px;
    justify-content: center;
    line-height: 24px;
    overflow-wrap: break-word;
    padding: 24px;
    text-decoration: none;
    width: auto;
    border-radius: 25px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    position: absolute;
    left: 85%;
    top: 7%;
}

.newFile{
    align-items: center;
    background: antiquewhite;
    border: 0 solid antiquewhite;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0, 0, 0.06);
    box-sizing: border-box;
    color: #1A202C;
    display: inline-flex;
    font-family: Inter, sans-serif;
    font-size: 1rem;
    font-weight: 700;
    height: 56px;
    justify-content: center;
    line-height: 24px;
    overflow-wrap: break-word;
    padding: 24px;
    text-decoration: none;
    width: auto;
    border-radius: 25px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    position: absolute;
    left: 2%;
    top: 22%;
    max-width: 150px;
}

.newFolder {
    align-items: center;
    background: antiquewhite;
    border: 0 solid antiquewhite;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0, 0, 0.06);
    box-sizing: border-box;
    color: #1A202C;
    display: inline-flex;
    font-family: Inter, sans-serif;
    font-size: 1rem;
    font-weight: 700;
    height: 56px;
    justify-content: center;
    line-height: 24px;
    overflow-wrap: break-word;
    padding: 24px;
    text-decoration: none;
    width: auto;
    border-radius: 25px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    position: absolute;
    left: 2%;
    top: 35%;
    max-width: 150px;
}
  
  
  
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
  }
  

  /* Modal Content/Box */
.modal-content {
    background-color:  #789E9E;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 2px solid black;
    border-radius: 25px;
    width: 40%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .modal1 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
  }
  

  /* Modal Content/Box */
.modal-content1 {
    background-color:  #789E9E;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 2px solid black;
    border-radius: 25px;
    width: 40%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
.close1 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
.close1:hover,
.close1:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

